header {
    width: 100%;
    height: 150px;
    background-image: url("./assets/bg-header-mobile.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (width >= 64rem) {
    header {
        background-image: url("./assets/bg-header-desktop.svg");
    }
}